

body {
	background-image: url(../images/content/bg.jpg);
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	min-height: 100vh;
}

#masthead {

	position: relative;

	.bg-header {
		position: absolute;
		top: 0;
		height: 80px;
		right: 0;
		width: auto;
	}

	.container-fluid {
		padding: 0;
	}

	.logo-svg {
    	height: 100px;
    	width: auto;
    }

}

.ratio {
	border: 10px solid #fff;
}



.col-vignette {
	width: 116px;
	margin-right: 5%;
	position: relative;
	float: left;
	margin-right: 15px;

}

.media-body {
	width: auto;
}

.bouton-chapitre {
	display: flex;
	color: $white;
	text-decoration: none;
	padding: 1rem;
	background-color: rgba(#8c0034, 0);
	transition: background 400ms;
	margin-bottom: 15px;
	min-height: 100px;

	h4 {
		font-size: 1.2rem;
	}

	p {
		font-size: .875rem;
		margin-bottom: 0;
	}

	&:hover {
		background-color: #8c0034;
		color: $white;
	}

	.loading {
		display: none;
	}

	&.current {
		background-color: rgba(#8c0034, .5);
		.loading {
			display: block;
		}
	}

}



.main-title {
	color: $white;
    font-size: 2rem;

    .fleche {
    	width: 24px;
    }
}

#colophon {
	
	.btn-link {
		color: $white;
		text-decoration: none;
		font-size: .875rem;
	}

	.copyright {
		padding: 0.375rem 0.75rem;
		color: $white;
		font-size: .875rem;
	}
}



.loading {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity 300ms; 
    opacity: 0;
}

.reading {
	.loading {
		opacity: 1;
	}
}

.loading span {
    display: block;
    position: absolute;
    bottom: 50%;
    height: 5px;
    width: 12%;
    left: 12.5%;
    background-color: #9b59b6;
    animation: waving 1.5s infinite ease-in-out;
}
.loading span:nth-of-type(2) {
    left: 27.5%;
    animation-delay: 0.3s;
}
.loading span:nth-of-type(3) {
    left: 42.5%;
    animation-delay: 0.6s;

}
.loading span:nth-of-type(4) {
    left: 57.5%;
    animation-delay: 0.9s;

}
.loading span:last-of-type {
    left: 72.5%;
    animation-delay: 1.2s;

}

@keyframes waving {
    0%, 25%, 100% {
        height: 5px;
        transform: translatey(0);
        background-color: $primary;
    }
    25% {
        height: 30px;
        transform: translatey(15px);
        background-color: $secondary;
    }
   
};


@include media-breakpoint-up(md) {
	#masthead .logo-svg {
		height: 180px;
	}

	#masthead {
		.bg-header {
			height: 200px;
		}
	}
}


@include media-breakpoint-up(lg) {
	#masthead {
		.bg-header {
			height: 300px;
		}
	}
}

@include media-breakpoint-up(xl) {
	#masthead {
		.bg-header {
			height: 370px;
		}
	}
}