body.iframe {
	background: $white;

	.main-title, .bouton-chapitre {
		color: $body-color;
	}

	.bouton-chapitre {
		

		&:hover {
			background-color: rgba($primary, .1);
		}

		&.current {
			background-color: rgba($primary, .2);
		}
	}

	.container {
		max-width: 700px !important;
	}
}