$orange:  #ea5906;
$yellow:  #fdc41d;
$pink: #d7225f;
$primary:       $orange;
$secondary:     $yellow;


$body-bg: $pink;


$headings-font-weight: 700;


$font-family-sans-serif:      'Montserrat', sans-serif;